/* src/pages/LoginSignUpPage.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  padding: 20px; /* Add some padding for better spacing */
}

.login-form-container {
  display: flex;
  width: 100%;
  max-width: 1600px; /* Increase the max-width to make the form container larger */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(152, 86, 222, 0.447);
  overflow: hidden;
  height: 840px;
}

.login-form-left, .login-form-right {
  flex: 1;
  padding: 40px;
}

.login-logo {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 200px;
}

.login-form-left h2 {
  margin-bottom: 20px;
}

.login-form-left form {
  display: flex;
  flex-direction: column;
}

.login-form-left label {
  margin-bottom: 10px;
  font-weight: bold;
}

.login-form-left input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.login-button {
  padding: 15px;
    background-color: #ffffff;
    color: rgb(27, 26, 26);
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    border-color: blueviolet;
}

.login-button:hover {
  background-color: #9c43f8;
  transform: translateY(-2px);}

.divider {
  text-align: center;
  margin: 20px 0;
}

.divider span {
  background-color: #ffffff;
  padding: 0 10px;
}

.divider::before, .divider::after {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center align the social buttons */
  justify-content: center; /* Add justify-content for vertical centering */
  margin-top: 80px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%; /* Make buttons take full width of the parent */
  max-width: 300px; /* Limit the maximum width */
}

.social-button svg {
  margin-right: 10px;
}

.google-button {
  background-color: #db4437;
  color: white;
}

.apple-button {
  background-color: #000;
  color: white;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input input {
  flex: 1;
  padding-right: 40px; /* Adjust padding to fit the toggle button */
}

.password-input button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.login-form-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
