.wishlist-button {
    position: absolute;
    top: -5px; 
    right: 3%;
    width: 40px;
    height: 40px;
    background-color: none;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    opacity: 0;
}

.wishlist-button button {
    border: none;
    background-color: white;
}

.wishlist-button img {
    width: 40px;
    height: 40px;
}

.wishlist-button.product-detail {
    opacity: 1;
    position: absolute;
    top: 42%;
    right: 0%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(3px); 
}

.wishlist-button.product-detail:hover {
    background-color: #9c43f8;
    transform: translateY(-4px);
}
