@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #22262A;
}
nav{
    height: 80px;
    width: 100%;
    top: 0;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.site-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-logo img {
    width: 50px;
    height: 40px;
}
.site-logo span {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 600;
}
.home-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 30px;
}
.home-shop img {
    width: 20px;
    height: auto;
    cursor: pointer;
}
.search-bar {
    position: relative;
    display: inline-block;
    margin-left: 200px;
}
.search-bar input{
    width: 400px;
    height: 50px;
    border: 1px solid #283446;
    border-radius: 45px;
    padding: 5px 10px;
}
.search-bar button{
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}
.search-button img{
    width: 20px;
    height: auto;
}
.right-nav {
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.right-nav img {
    cursor: pointer;
    width: 20px;
    height: 20px;   
}
.about-contact {
    margin-left: 50px;
}
.about-contact li{
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 550;
}
