/* HeroSection.css */
.hero-section {
  text-align: center;
  background: url('Assets/images/image5.jpg') no-repeat center center/cover;
  color: white;
  padding: 200px 20px;
  position: relative;
}

.hero-section h1 {
  font-size: 3em;
  margin: 0;
}

.hero-section p {
  font-size: 1.2em;
  margin: 20px 0;
}

.hero-section .cta-button {
  background-color: #e91e63;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-section .cta-button:hover {
  background-color: #d81b60;
}

.hero-section .cta-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
