
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.sub-wishlist-wrap {
    width: 500px;
    display: block;
    align-items: center;
    position: fixed;
    z-index: 80;
    top: 12.3%;
    right: 0%;
    background-color: white;
    border-radius: 2px;
    padding: 0px 20px;
    text-align: center;
    border: 1px solid #C0C0C0;
    height: 640px;
    max-height: 640px;
    overflow-y: auto;
    transition: max-height 0.5s;
}

.sub-wishlist-wrap hr {
    width: 120px;
    height: 3px;
    margin: auto;
    background-color: #6d77f6;
    margin-bottom: 10px;
}

.sub-wishlist-wrap p {
    font-size: 22px;
    font-weight: 550;
}

