/* src/Pages/LoginSignUp/SignUpPage.css */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    padding: 20px; /* Add some padding for better spacing */
  }
  
  .signup-form-container {
    display: flex;
    width: 100%;
    max-width: 1600px; /* Increase the max-width to make the form container larger */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(152, 86, 222, 0.447);
    overflow: hidden;
  }
  
  .signup-form-left, .signup-form-right {
    flex: 1;
    padding: 40px; /* Increase padding for better spacing */
  }
  
  .signup-logo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .signup-form-left h2 {
    margin-bottom: 20px;
  }
  
  .signup-form-left form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form-left label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .signup-form-left input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    height: 35px;
  }
  
  .signup-button {
    background-color: #ffffff;
    color: rgb(27, 26, 26);
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 300px;
    height: 60px;
    align-self: center;
    border-color: blueviolet;
  }
  
  .signup-button:hover {
    background-color: #9c43f8;
    transform: translateY(-2px);
  }
  
  .divider {
    text-align: center;
    margin: 20px 0;
  }
  
  .divider span {
    background-color: #ffffff;
    padding: 0 10px;
  }
  
  .divider::before, .divider::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #ccc;
    vertical-align: middle;
  }
  
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .social-button svg {
    margin-right: 10px;
  }
  
  .google-button {
    background-color: #ef1400;
    color: white;
    align-items: center;
  }
  
  .apple-button {
    background-color: #000;
    width: 27%;
    color: white;
    
  }
  
  .password-input {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-input input {
    flex: 1;
    padding-right: 40px; /* Adjust padding to fit the toggle button */
  }
  
  .password-input button {
    position: absolute;
    right: 10px;
    padding-bottom: 2%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .signup-form-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    
  }
  .button-container{
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column; 
  }
  