@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.see-details {
    background: #6d77f6;
    border: 1px solid #6d77f6;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    width: 140px;
    display: inline-block;
    font-family: 'Alata', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
    min-height: 40px;
    padding: 5px 0;
    text-align: center;
    bottom: 50%;
    left: 30%;
    opacity: 0; 
    transform: translateY(4px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
   
}

.see-details img {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 20px;
  height: 20px;
}


.see-details:hover {
  background-color: #9c43f8;
  transform: translateY(-20px);
}

@media (min-width: 100px) {
    .see-details {
    padding: 10px 4px;
  }
}

.see-details.custom-button{
  opacity: 1;
  margin-top: 10px;
  position: relative;
  bottom: 0%;
  left: 0%;
  width: 220px;
  margin-right: 15px;
}

.see-details.latest-products {
  position: relative;
  width: 180px;
  left: 0%;
  height: 40px;
  text-wrap: nowrap;
}
.see-details.latest-products img {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 20px;
  height: 20px;
}
.add-to-cart.product-wishlist {
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5%;
  margin-left: 110px;
  width: 60px;
  height: 30px;
  padding: 5px 0;
}
.add-to-cart.product-wishlist img {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 20px;
  height: 20px;
}