.App {
  font-family: Arial, sans-serif;
}

.main-content {
  display: flex;
}


.content-section {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.category-filter ul {
  list-style: none;
  padding: 0;
}

.category-filter li {
  cursor: pointer;
  padding: 5px 0;
}

.category-filter li ul {
  padding-left: 20px;
}

.category-filter li ul li {
  cursor: pointer;
  padding: 3px 0;
}

.search-bar {
  margin-bottom: 20px;
}

.search-filter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  gap: 10px;
  height: auto;
}

.filter-sort {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-sort .filter-item {
  display: flex;
  align-items: center;
}

.filter-sort .filter-item label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-sort .filter-item input,
.filter-sort .filter-item select {
  padding: 5px;
  margin-right: 10px;
}

.filter-sort button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.filter-sort button:hover {
  background-color: #45a049;
}
