/* CategoryFilter.css */
.category-filter {
  text-align: left;
}

.category-filter h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.category-filter ul {
  list-style-type: none;
  padding: 0;
}

.category-filter li {
  margin: 10px 0;
  cursor: pointer;
}

.category-filter li:hover {
  text-decoration: underline;
}
