.hero-section {
    background-image: url('Assets/images/image5.jpg'); /* Add your hero image path here */
    background-size: 50%;
    background-position: center;
    height: 60vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero-content button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Adjust the button color as needed */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: #0056b3; /* Adjust the hover color as needed */
  }
  