@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
}

.product-details-container{
    height: 450px;
    width: 65%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    border-radius: 4px;
    background-color: #FDFFFC;
}

.product-details-container > p {
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}
.product-details-image{
    width: 500px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.product-details-image > div:nth-child(2){
    margin-left: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.product-details-image > div:nth-child(2) img  {
   width: 70%;
   
}


.product-details-image div:first-child{
   position: absolute;
   top: 0;
   width: 100px;
   height: 100px;
   display: flex;
   flex-direction: column;
   height: 100%;
   gap: 10px;
}
.product-details-image div:first-child img{
  background-size: cover;  
  margin-top: 10px;  
  height: 80px;
  width: 80px;
  border: 1px solid rgba(37, 37, 37, 0.2);
  border-radius: 4px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: box-shadow 0.3s ease-in-out; 
}
.product-details-image div:first-child img:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  }
.product-details-info{
    padding-top: 5px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.product-details-container p:nth-child(3){
  
  font-size: 20px;
  font-weight: 600;
  color: rgba(103, 58, 183, 1);
}

.product-cta {
    display: flex;
    position: relative;
    width: 280px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 50px;
}
.product-cta > button {
    font-size: 18px;
    color: white; 
    font-weight: 600;
    background-color: rgba(103, 58, 183, 1);
    padding: 7px;
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 5px rgb(202, 202, 202);
}

.product-details-info h3{
    margin-bottom: 10px;
}
.product-details-info   p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}
.product-details-info > form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

label {
    font-size: 18px;
    font-weight: 500;
}

.product-details-info > form div:first-child{
    display: flex;
    gap:15px;
    align-items: center;
}

.product-quantity {
    display: flex;
    align-items: center;
    width: 185px;
    border-radius: 3px;
    padding: 2px 3px;
}

.product-quantity p {
    margin-right: 20px;
    margin-bottom: 10px;
}

.product-description {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin:0px  auto;
    height: fit-content;
    text-wrap: wrap;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.01);
    border: 1px rgba(0, 0, 0, 0.1) solid; 
    overflow-wrap: break-word;
}
.product-description > p:nth-child(3){
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 30px;
}
hr {
    height: 2px;
    color:  #f2f2f2;
    width: 100%;
    margin-bottom: 20px ;
}
#description-p {
    font-size: 25px;
    font-weight: 600;
    color: #6d77f6;
}
.related-product-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    max-width: 1000px;
    height: 300px;
    margin: 0px auto ;
}

.related-product-section h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}
.related-products-carousel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}
input[type="radio"]{
  display: none;
}
.radio-inputs > div {
    width: 35px ;
    height: 35px;
    border-radius: 50%;
    display: flex;
    padding: 3px ;
    transition: 0.15s ease-out;
}
.radio-inputs label:nth-last-child(-n+8) {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    box-shadow: 0px 2px 10px rgb(210, 210, 210);
    border-radius: 50%;
    cursor: pointer;
}
